UPLOAD_SERVICE_URL=http://127.0.0.1:8001
DOWNLOAD_SERVICE_URL=http://127.0.0.1:8002

# Database
DB_NAME=postgres
DB_USER=postgres
DB_PASS=your_database_password
DB_HOST=your_database_host
DB_PORT=5432
POSTGRES_URL=postgresql://postgres:your_password@your_host:5432/postgres

ACCESS_TOKEN_EXPIRE_MINUTE=60
JWT_ALGORITHM=HS256
JWT_SECRETE=your_jwt_secret_key

REDIRECT_URL=http://127.0.0.1:8000
PROXY_URL=http://127.0.0.1:8003

EMAIL_VERIFICATION_TOKEN_EXPIRE_MINUTE=5
PASSWORD_RESET_TOKEN_EXPIRE_MINUTE=5

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
EMAIL_FROM=your_email@gmail.com
EMAIL_PASSWORD=your_app_password

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret

X_CLIENT_ID=your_x_client_id
X_CLIENT_SECRET=your_x_client_secret

GOOGLE_CALLBACK_REDIRECT_LINK=http://127.0.0.1:8000/google/callback
GITHUB_CALLBACK_REDIRECT_LINK=http://127.0.0.1:8000/github/callback
X_CALLBACK_REDIRECT_LINK=http://127.0.0.1:8000/twitter/callback