SUPABASE_CONNECTION_URL=https://your-supabase-url.supabase.co
SUPABASE_URL=https://your-supabase-url.supabase.co
SUPABASE_SERVICE_KEY=your-supabase-service-key
SUPABASE_BUCKET=raw_bucket

RABBITMQ_URL=amqp://localhost:5672
CONVERSION_QUEUE=conversion_queue